:root {
  --ZUI-avatar-size-xs: 1rem;
  --ZUI-avatar-size-sm: 2rem;
  --ZUI-avatar-size-md: 3rem;
  --ZUI-avatar-size-lg: 4rem;
  --ZUI-avatar-size-xl: 5rem;

  --ZUI-avatar-font-xs: 0.625rem;
  --ZUI-avatar-font-sm: 1.25rem;
  --ZUI-avatar-font-md: 1.875rem;
  --ZUI-avatar-font-lg: 2.5rem;
  --ZUI-avatar-font-xl: 3.125rem;

  --ZUI-avatar-border-light: 0.0625rem;
  --ZUI-avatar-border-normal: 0.125rem;
  --ZUI-avatar-border-bold: 0.25rem;
  --ZUI-avatar-border-extrabold: 0.375rem;
  --ZUI-avatar-border-black: 0.5rem;

  --secondary-dark: #000a11;
}
