.ZUI-icon {
  font-style: normal;
  font-family: 'zui_ui';
}

.ZUI-chevron-down::before {
  content: "\010a";
}

.ZUI-chevron-left::before {
  content: "\011a";
}

.ZUI-chevron-right::before {
  content: "\012a";
}

.ZUI-chevron-up::before {
  content: "\014a";
}

.ZUI-link::before {
  content: "\015a";
}

.ZUI-user::before {
  content: "\016a";
}

.ZUI-close::before {
  content: "\017a";
}

.ZUI-secure::before {
  content: "\018a";
}

.ZUI-loading_1::before {
  content: "\019a";
}